


    /*  header { 
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    */
    body {
        font-size: large;
        font-style: italic;
        font-family: 'Roboto', Arial, sans-serif;      
        margin: 0;
        padding: 0;
    }
    #bloques { text-align: center;
        color: rgb(103, 108, 173)}
    #bloque2 { text-align: center;
        color: rgb(103, 108, 173)}



    #h2-div {text-align: center;
        background-color: #0e0d0d;
        color: #c0b5b5;
        padding: 10px;
        text-align: center;}
    #h2-div_2 {text-align: center;
        background-color: #0e0d0d;
        color: #c0b5b5;
        padding: 10px;
        text-align: center;}   
    #enlace-enlaces {text-align: center;
        background-color: #198674;
        color: #c0b5b5;
        padding: 10px;
        text-align: center;}
    #enlace-contactos {text-align: center;
        background-color: #116e35;
        color: #c0b5b5;
        padding: 10px;
        text-align: center;}
    
    #parrafo-contacto {text-align: center;
        background-color: #684f0a;
        color: #e9e6e6;
        padding: 10px;
        text-align: center;}
    
    #header-contacto {text-align: center;
        background-color: #1b0770;
        color: #d8d0d0;
        padding: 10px;
        text-align: center;}
    /* p {text-align: left;} */