body {
    font-size: large;
    font-style: italic;
    font-family: 'Roboto', Arial, sans-serif;      
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header img {
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    margin: 0 20px;
}

header p {
    display: inline-block;
    vertical-align: middle;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#enlaces, #informacion, #clases-grabadas, #contacto {
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    border-radius: 10px;
}

#enlaces h2, #informacion h2, #clases-grabadas h2, #contacto h2 {
    background-color: #0e0d0d;
    color: #c0b5b5;
    padding: 10px;
    border-radius: 5px;
}

#parrafo-contacto {
    background-color: #E1306C;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
}

#parrafo-contacto span {
    font-weight: bold;
    margin-right: 10px;
}

#parrafo-contacto img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
