


    /*  header { 
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
    }
    */
    body {
        font-size: large;
        font-style: italic;
        font-family: 'Roboto', Arial, sans-serif;      
        margin: 0;
        padding: 0;
    }
    #bloques { text-align: center;
        color: rgb(103, 108, 173)}



    #h2-div {text-align: center;
        background-color: #0e0d0d;
        color: #c0b5b5;
        padding: 10px;
        text-align: center;}
    
    #enlace-enlaces {text-align: center;
        background-color: #198674;
        color: #c0b5b5;
        padding: 10px;
        text-align: center;}
    /* p {text-align: left;} */